<% @data.each do |d| %>
          <tr>
            <td>
              <img src="<%= d[:picture] %>">
            </td>
            <td>
              <%= d[:description] %>
            </td>
            <td>
              <%= d[:price] %>
            </td>
            <td>
              <%= d[:store] %>
            </td>
          </tr>
<% end %>
<% if !@is_searching %>end<% end %>