<!DOCKTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Electronic search</title>
  </head>
  <body>
    <form action="/search" type="GET">
      <input type="text" name="query" />
      <input type="submit" value="Найти" />
    </form>
  </body>
</html>