<!DOCKTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Electronic search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <form action="/search" type="GET">
      <input type="text" name="query" value='<%= @query %>' />
      <input type="submit" value="Найти" />
    </form>
    <% if @result.empty? %>
      <h1>
        Результаты не найдены
      </h1>
    <% else %>
      <table id="results">
        <tr>
          <th>
            Картинка
          </th>
          <th>
            Описание
          </th>
          <th>
            Цена
          </th>
          <th>
            Доступность
          </th>
        </tr>
        <% @result.each do |r| %>
          <tr>
            <td>
              <img src="<%= r[:picture] %>">
            </td>
            <td>
              <%= r[:description] %>
            </td>
            <td>
              <%= r[:price] %>
            </td>
            <td>
              <%= r[:store] %>
            </td>
          </tr>
        <% end %>
      </table>
      <h1 id="loading_label">
        Загрузка...
      </h1>
    <% end %>
    <script type="text/javascript">
      jQuery(window).scroll(function() {
        var t;
        if(jQuery(window).scrollTop()+jQuery(window).height()>=jQuery(document).height()){
          $.ajax({
            url: "/ajax",
            data: {session_id: <%= @session_id %>},
            dataType : "html",
            success: function(data) {
              if (data == "end"){
                $('#loading_label').css('visibility', 'hidden');
              }
              else{
                $('#results tr:last').after(data);
              }
            } 
          });
        }
      });
    </script>
  </body>
</html>